body {
  margin: none;
  padding: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#34393e), to(black));
  background-image: linear-gradient(to bottom left, #34393e, black);
}

.title-container {
  height: 7.5rem;
  text-align: center;
  font-weight: lighter;
  font: lighter;
  color: white;
  margin-bottom: 2rem;
}

.title-container h1 {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: translate(0px, 25%);
          transform: translate(0px, 25%);
  font-size: 2.75rem;
  margin-bottom: 0px;
}

.title-container p {
  color: #b1b0b0;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.sound-container {
  text-align: center;
}

.sound-container .sound {
  margin-bottom: 20px;
  color: gray;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#34393e), to(black));
  background-image: linear-gradient(to top left, #34393e, black);
  max-width: 25rem;
  min-width: 20rem;
  min-height: 7.5rem;
  padding: 20px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: -5px -5px 7.5px, #585a5c, 5px 5px 7.5px black;
          box-shadow: -5px -5px 7.5px, #585a5c, 5px 5px 7.5px black;
  -webkit-animation: show-container-animated 500ms;
          animation: show-container-animated 500ms;
}

.sound-container .sound label {
  color: white;
  font-size: 1.125rem;
}

.sound-container .sound input[type="range"] {
  width: 90%;
  background: gray;
  outline: none;
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: lightgray;
  outline: none;
  border-radius: 41px;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.sound-container .sound input[type="range"]:hover {
  background-color: white;
}

.sound-container .sound input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.sound-container .sound input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.sound-container .sound input[type='number'] {
  background: transparent;
  border: none;
  border-bottom: 1px solid gray;
  margin-left: 5px;
  width: 31.25px;
  -webkit-transition: 200ms;
  transition: 200ms;
  color: gray;
}

.sound-container .sound input[type='number']:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  color: white;
}

.sound-container .sound button {
  cursor: pointer;
  outline: none;
  border: none;
  background-image: -webkit-gradient(linear, right bottom, left top, from(black), to(#34393e));
  background-image: linear-gradient(to top left, black, #34393e);
  color: gray;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 20px;
  padding: 5px 10px 5px 10px;
  -webkit-box-shadow: -3px -3px 4.5px black, 3px 3px 4.5px #34393e;
          box-shadow: -3px -3px 4.5px black, 3px 3px 4.5px #34393e;
}

.sound-container .sound button:active {
  color: white;
}

.sound-container .no-input {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.5;
  -webkit-animation: no-input-animated 500ms;
          animation: no-input-animated 500ms;
  -webkit-box-shadow: inset -5px -5px 7.5px #f5f4f4, inset 5px 5px 7.5px darkgray;
          box-shadow: inset -5px -5px 7.5px #f5f4f4, inset 5px 5px 7.5px darkgray;
}

.sound-container .no-input input {
  pointer-events: none;
}

.sound-container .no-input button {
  display: none;
}

.feedback-btn, .back-btn {
  cursor: pointer;
  background-image: -webkit-gradient(linear, right bottom, left top, from(black), to(#34393e));
  background-image: linear-gradient(to top left, black, #34393e);
  border: gray;
  color: gray;
  border-radius: 4px;
  outline: none;
  padding: 1.25rem;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  margin-top: 2rem;
  margin-left: 50%;
  margin-bottom: 3rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: -6px -6px 6px black, 6px 6px 6px #34393e;
          box-shadow: -6px -6px 6px black, 6px 6px 6px #34393e;
}

.feedback-btn:active, .back-btn:active {
  color: lightblue;
}

.feedback-message {
  margin-top: 3.25rem;
  text-align: center;
  color: gray;
  font-weight: bolder;
  font-size: 1.5rem;
}

.back-btn {
  margin-top: 0.625rem;
}

.hider {
  display: none;
}

@-webkit-keyframes no-input-animated {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0.5;
  }
}

@keyframes no-input-animated {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0.5;
  }
}

@-webkit-keyframes show-container-animated {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes show-container-animated {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */